In [1]:
import os
import sys

# Set Spark home
os.environ['SPARK_HOME'] = 'C:\\spark\\spark-3.5.6-bin-hadoop3'

# Add PySpark to Python path
sys.path.insert(0, os.path.join(os.environ['SPARK_HOME'], 'python'))
sys.path.insert(0, os.path.join(os.environ['SPARK_HOME'], 'python\\lib\\py4j-0.10.9.7-src.zip'))

# Initialize Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("JupyterSpark") \
    .getOrCreate()

sc = spark.sparkContext

print("Spark ready!")

Spark ready!

In [2]:
sc

In [3]:
from pyspark.sql import SparkSession
# Step 1: Initialize Spark Session
spark = SparkSession.builder.appName("BasicDataFrameOps").getOrCreate()

In [4]:
# Step 2: Read CSV file into DataFrame
df = spark.read.csv("students.csv", header=True, inferSchema=True)

In [5]:
# Step 2: Read CSV file into DataFrame
df = spark.read.csv("students.csv", header=True, inferSchema=True)

In [6]:
# Step 2: Read CSV file into DataFrame
df = spark.read.csv("students.csv", header=True, inferSchema=True)

In [7]:
print("=== Select name and math columns ===")
df.select("name", "math").show(5)

=== Select name and math columns ===
+-------+----+
|   name|math|
+-------+----+
|  Alice|  66|
|    Bob|  82|
|Charlie|  43|
|  David|  95|
|    Eva|  62|
+-------+----+
only showing top 5 rows

In [8]:
print("=== Students with math >= 80 ===")
df.filter(df.math >= 80).show(5)

=== Students with math >= 80 ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
|  2|   Bob| 20|     M|  82|     52|     77|
|  4| David| 19|     M|  95|     69|     46|
| 11| Kathy| 25|     M|  85|     71|     89|
| 12|   Leo| 24|     M|  97|     84|     83|
| 15|Olivia| 18|     M|  87|     90|     87|
+---+------+---+------+----+-------+-------+
only showing top 5 rows

In [9]:
# 5. Sort students by science marks (descending)
print("=== Sorted by science (desc) ===")
df.orderBy(df.science.desc()).show(5)

=== Sorted by science (desc) ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
| 27| Aaron| 25|     F|  81|     99|     44|
| 32| Fiona| 22|     F|  48|     96|     48|
| 33|George| 22|     M|  66|     95|     84|
| 29|  Carl| 22|     F|  53|     92|     52|
|  1| Alice| 20|     F|  66|     92|     44|
+---+------+---+------+----+-------+-------+
only showing top 5 rows

In [10]:
# 6. Count total rows
print("Total rows in dataset:", df.count())

Total rows in dataset: 50

In [11]:
# 7. Show column names
print("Columns:", df.columns)

Columns: ['id', 'name', 'age', 'gender', 'math', 'science', 'english']

In [12]:
sc.stop()